///// Main Sections ///////
.leftDesktop {
  width: 73%;
  .display(column, flex-start, center);
  height: 100vh;

  .issuesSolved {
    .display(row, space-between, center);
    align-items: flex-end;
    width: 100%;
    padding: 2rem;
    color: #a89996;
    font-family: Tahoma;
    font-size: 4.5rem;
    font-weight: 700;
    letter-spacing: 6.8px;
    background-color: #5d4640;
    height: 10%; //changed from 100vh
  }
}

.singleCoMaker {
  width: 11%;
  margin-left: 8%;
}

#mainImage {
  position: relative;
  z-index: -10;
  width: 100%;
  height: 90%;
  padding: 0;
  margin: 0;
}

.mainHeader {
  position: absolute;
  .noBorder();
  width: 72%;

  .bigHeader {
    opacity: 0.23;
    z-index: 4;
    width: 100%;
    max-width: 100%;
    height: 21.5rem; //this allows minheader to abut it
    font-family: "Segoe UI";
    font-size: 17rem;
    font-style: italic;
    font-weight: 900;
    line-height: 26.5rem; //move bigheader up and down
    text-align: center;
    .noBorder();
    white-space: nowrap;
  } //end of bigHeader

  .miniHeader {
    z-index: 4;
    font-family: "Segoe UI";
    font-size: 3rem;
    font-style: italic;
    font-weight: 600;
    line-height: 4rem;
    text-align: center;
    .noBorder();
    margin-left: 12%; //move left and right
  }
} //end of mainHeader

/////// Right Side ////////

.rightDesktop {
  width: 27%;
  background: #875140;
  .display(column, center, center);
  height: 100vh;

  .topLogo {
    width: 40%;
    margin: 5% auto;
  }
  .textBox {
    .display(row, center, center);
    background: #857774;
    border-radius: 30px;
    border: 3px solid black;
    font-family: "Palatino Linotype";
    font-weight: 900;
    width: 90%;
    height: 30%;
    padding: 5% 0;
    margin: 5% auto;
    h2 {
      font-size: 2vw; //changed from 6
      text-align: center;
      padding: 5% 0;
      width: 90%;
    }
  }

  .testimonials {
    .display(column, space-around, center);
    background: #857774;
    border-radius: 30px;
    border: 3px solid black;
    width: 90%;
    height: 30%;
    padding: 5% 0;
    margin: 5% auto;
    img {
      width: 40%;
      border-radius: 100px;
      border: 4px solid white;
      margin: 3% auto;
    }
    p {
      width: 80%;
      font-size: 1.7rem; //changed from 3.5
      text-align: center;
      font-family: "Palatino Linotype";
      line-height: 3.9rem;
    }
  }

  .signUpButton {
    .display(row, center, center);
    // width: 100%;
    height: 20vh;
    margin: 5% 0; //made bottom zero px from 20
    button {
      .display(row, space-around, center);
      // margin: 10% 0; //this is not being contained by the right container height
      padding: 0;
      background: #da9f7a;
      border: 3px solid black;
      border-radius: 30px;
      font-size: 3vw;
      font-family: "Palatino Linotype";
      font-weight: 900;
      line-height: 4rem;
      width: 90%;
      height: 80%;
      img {
        width: 20%;
      }
    }
  }

  button:hover {
    background: #857774;
  }
} ////////// Right Container

////// NavBar ///////

.navBar {
  .display(row, space-around, center);
  align-self: flex-start;
  position: absolute;
  width: 50%;
  .noBorder();
  padding-right: 0.7rem;
  margin-top: 2.5rem;
  margin-left: 5%;
  background-color: #857774;
  border-radius: 19px;
  line-height: 4rem;
}

.navPop {
  z-index: 5;
  cursor: pointer;
  width: 25%;
  text-align: center;
  font-size: 2rem;
  font-family: "Palatino Linotype";

  &:hover {
    color: #fe876d;
  }

  //  -webkit-user-select: none;
  //  -moz-user-select: none;
  //  -ms-user-select: none;
  //  user-select: none;
}

/* The actual popup */
.navPop .popuptext {
  visibility: hidden;
  color: #fff;
  position: absolute;
  z-index: 1;
  overflow-wrap: nowrap;
}

/* Popup arrow */
.navPop .popuptext::after {
  content: "";
  position: absolute;
}

/* Toggle this class - hide and show the popup */
.navPop .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}
