///// Main Sections ///////
.leftDesktop {
  width: 73%;
  .display(column, flex-start, center);
  max-height: 100vh;
  height: 100vh;
  @media @tablet {
    width: 100%;
    height: 45%;
  }
  @media @phone {
    width: 100%;
    height: 32%;
  }

  .issuesSolved {
    .display(row, space-between, center);
    align-items: center;
    width: 100%;
    padding: 0.5vw 0.5vh 0vw; //changed for responsiveness
    color: #a89996;
    font-family: Tahoma;
    font-size: 3.5vw;
    font-weight: 700;
    letter-spacing: 6.8px;
    background-color: #5d4640;
    height: 10%; //changed from 100vh
    z-index: -1;

    h1 {
      max-height: inherit;
      padding: 0;
    }
  }
}

.singleCoMaker {
  width: 11%;
  margin-left: 8%;
  position: relative;
  -webkit-animation: cityComaker 10s infinite;
  animation: cityComaker 10s infinite 5s paused;
  @media @tablet {
    display: none;
  }
  @media @phone {
    display: none;
  }
}


#mainImage {
  position: relative;
  z-index: -10;
  width: 100%;
  height: 90%;
  padding: 0;
  margin: 0;
}

.mainHeader {
  position: absolute;
  .noBorder();
  width: 72%;

  .bigHeader {
    opacity: 0.23;
    z-index: 4;
    width: 100%;
    max-width: 100%;
    height: 21.5rem; //this allows minheader to abut it
    font-family: "Segoe UI";
    font-size: 12.5vw;
    font-style: italic;
    font-weight: 900;
    line-height: 26.5rem; //move bigheader up and down
    text-align: center;
    .noBorder();
    white-space: nowrap;
    @media @phone {
      color: white;
    }
  } //end of bigHeader

  .miniHeader {
    z-index: 4;
    font-family: "Segoe UI";
    font-size: 3rem;
    font-style: italic;
    font-weight: 600;
    line-height: 4rem;
    text-align: center;
    .noBorder();
    margin-left: 12%; //move left and right
    @media @tablet {
      display: none;
    }
    @media @phone {
      display: none;
    }
  }
} //end of mainHeader

/////// Right Side ////////

.rightDesktop {
  width: 27%;
  border-left: 0.5vw solid black;
  background: @mainColor;
  .display(column, space-around, center);
  height: 100%;
  //max-height: 100vh;
  @media @between {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  @media @tablet {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  @media @phone {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .topLogo {
    width: 60%;
    margin: 5% auto;
    @media @between {
      width: 65%;
    }
    @media @tablet {
      width: 25%;
      margin: 2% auto;
    }
  }
  .textBox {
    .display(row, center, center);
    background: @textBoxColor;
    border-radius: 30px;
    border: 3px solid black;
    font-family: @mainFont;
    font-weight: 900;
    width: 90%;
    height: 15vw;
    padding: 5% 0;
    margin: 5% auto 0;
    @media @tablet {
      height: 25%;
      margin: 2% auto;
    }
    @media @phone {
      height: 30%;
    }

    h2 {
      font-size: 2vw; //changed from 6
      text-align: center;
      padding: 5% 0;
      width: 90%;
      @media @tablet {
        font-size: 6vw;
      }
      @media @phone {
        font-size: 8vw;
      }
    }
  }

  .testimonials {
    .display(column, space-around, center);
    background: @textBoxColor;
    border-radius: 30px;
    border: 3px solid black;
    width: 90%;
    height: 15vw ;
    padding: 0 0 0 2.5%;
    margin: 5% auto;
    @media @tablet {
      height: 25%;
      margin: 2% auto;
      display: flex;
      flex-direction: row;
      align-content: center;
      justify-content: space-around;
    }
    @media @phone {
      height: 30%;
    }

    img {
      width: 40%;
      border-radius: 100px;
      border: 2px solid white;
      height: 45%;
      margin: 5% auto 0;
      @media @between {
        border: 1px solid white;
      }
      @media @tablet {
        border: 1px solid white;
        height: 80%;
        margin: auto 0;
      }
      @media @phone {
        border: 1px solid white;
      }
    }
    p {
      width: 80%;
      //height:50%;
      font-size: 1vw; //changed from 3.5
      text-align: center;
      font-family: @mainFont;
      line-height: 2vw 1vh;
      max-height: inherit;
      @media @tablet {
        font-size: 4vw;
        line-height: 5vw;
      }
      @media @phone {
        font-size: 6vw;
        line-height: 5vw;
      }
    }
  }

  .signUpButton {
    .display(row, center, center);
    width: 90%;
    height: 12vw;
    margin: 0; //made bottom zero px from 20
    @media @tablet {
      height: 20%;
      margin: 2% auto;
      display: flex;
      justify-content: space-raound;
    }
    @media @phone {
      height: 15%;
      margin-top: 10vw;
    }

    button {
      .display(row, space-around, center);
      // margin: 10% 0; //this is not being contained by the right container height
      padding: 0;
      background: #da9f7a;
      border: 3px solid black;
      border-radius: 30px;
      font-size: 3vw;
      font-family: @mainFont;
      font-weight: 900;
      line-height: 3vw;
      width: 100%;
      //height: 80%;
      height: 20vh;
      @media @between {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-content: center;
        font-size: 4vw;
      }
      @media @tablet {
        display: flex;
        flex-direction: row;
        font-size: 7vw;
        line-height: 7vw;
      }
      @media @phone {
        display: flex;
        flex-direction: row;
        height: 100%;
        font-size: 10vw;
        line-height: 8vw;
      }

      img {
        width: 20%;
      }
    }
  }

  button:hover {
    background: #857774;
  }
} ////////// Right Container

////// NavBar ///////
