///// Main Sections ///////
.leftDesktop {
  width: 73%;
  .display(column, space-between, center);
  height: 100%;
  background-image: url(images\Background-1.jpg);
}

.rightDesktop {
  width: 27%;
  height: 100%;
  background: #875140;
}

////// NavBar ///////

.navBar {
  .display(row, space-around, center);
}
